/* 폰트 불러오기 */
@import './styles/fonts.css';

/* 전체 기본 설정 */
body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  font-weight: 400; /* Regular */
  background-color: #FFF;
}

/* 링크 기본 스타일 */
a, a:visited {
  /* color: inherit 하면 NavBar의 팟 색 덮임 ==> 개별 적용 처리 */
  text-decoration: none; /* 밑줄 제거 */
}
